<div class="detail row">
  <div class="col-md-4">
    <app-payment-create></app-payment-create>
  </div>
  <div class="col-md-8">
    <div class="sub-layout">
      <div class="title">Details for Transaction ID: {{id}}</div>
      <div class="p-4">
        <table class="table table-bordered">
          <tbody class="w100">
            <tr>
              <td style="width:30%">AMOUNT</td>
              <td style="width:70%">{{payment?.amount}}</td>
            </tr>
            <tr>
              <td>DATE</td>
              <td>{{payment?.createdAt | date:'dd MMM yyyy'}}</td>
            </tr>
            <tr>
              <td>TO CONTRACTOR</td>
              <td>{{payment?.toCount}}</td>
            </tr>
            <tr>
              <td>STATE</td>
              <td>{{btPaymentState[payment?.status]}}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex align-items-center">
          <div class="col-md-4">Change Transaction State</div>
          <div class="col-md-4">
            <select
              name="state"
              [(ngModel)]="state"
              #t
              class="form-control"
              (change)="changeState(t.value)"
            >
              <option value="payed">Payed</option>
              <option value="received">Received</option>
              <option value="transaction">Send Transaction</option>
            </select>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <button class="btn btn-success" (click)="back()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>  