.list {
    text-align: left;
    max-width: 1200px;
    margin: auto;
}
.list-layout{
    background-color: #ffffff;
    border: solid 1px #000000;
}
.list-title {
    background-color: #068c91;
    font-size: 16px;
    color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-payed{
    border-left: solid 8px green;
}

.border-transaction{
    border-left: solid 8px red;
}

.border-received{
    border-left: solid 8px yellow;
}