<div class="list row">
  
  <div class="col-md-4">
    <app-payment-create (createPayment)="createPayment($event)"></app-payment-create>
  </div>
  <div class="col-md-8">
    <div class="sub-layout">
      <div class="title" >Recent Transations</div>
      <div class=" p-4">
        
        <div class="col-md-4">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search by title"
              [(ngModel)]="title"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="searchTitle()"
              >
                Search
              </button>
            </div>
          </div>
        </div>

        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let payment of payments; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActivePayment(payment, i)"
            [ngClass]="payment?.status=='payed' ? 'border-payed' : payment?.status=='received' ? 'border-received' : 'border-transaction'"
          >
            <div class="d-flex align-items-center">
              <div class="col-md-2 font-size-h6">
                {{ payment?.createdAt | date:'MMM d' }}
              </div>
              <div class="col-md-8">
                <div class="font-size-h5">{{ payment?.title }}</div>
                <div>{{ btPaymentType[payment?.kind] }}</div>
              </div>
              <div class="col-md-2 d-flex justify-content-end font-size-h3">
                ${{ payment?.amount }}
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>