.submit-form {
  max-width: 400px;
  margin: auto;
}

.list-layout{
    background-color: #ffffff;
    border: solid 1px #000000;
}
.list-title {
    background-color: #068c91;
    font-size: 16px;
    color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}