<div class="sub-layout">
  <div class="title">Make a Transfer</div>
  <div class="submit-form p-4">
    <div *ngIf="!submitted">
      
      <div class="form-group">
        <label for="description">FROM ACCOUNT</label>
        <input
          type="text"
          class="form-control"
          id="fromCount"
          required
          [(ngModel)]="payment.fromCount"
          name="fromCount"
        />
      </div>

      <div class="form-group">
        <label for="description">TO ACCOUNT</label>
        <input
          type="text"
          class="form-control"
          id="toCount"
          required
          [(ngModel)]="payment.toCount"
          name="toCount"
        />
      </div>

      <div class="form-group">
        <label for="title">AMOUNT</label>
        <input
          type="number"
          class="form-control"
          id="amount"
          required
          [(ngModel)]="payment.amount"
          name="amount"
        />
      </div>

      <button (click)="savePayment()" class="btn btn-success">Submit</button>
    </div>

    <!-- <div *ngIf="submitted">
      <h4>New payment was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPayment()">Add</button>
    </div> -->
  </div>
</div>