.w-180{
    width: 180px;
}
.main-font-blue{
   color: #4591CE !important;
}
.sub-font-blue{
    color: #E8EEF9 !important;
 }
.main-back-blue{
    background-color: #4591CE !important;
}
.sub-back-blue{
    background-color: #E8EEF9 !important;
}
