<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <!--begin::Login-->
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!--begin::Content-->
    <div
      class="flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden mt-7 mx-auto">
      <!--begin::Content body-->
      <div class=" flex-column-fluid flex-center">
        <router-outlet></router-outlet>
      </div>
      <!--end::Content footer-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Login-->
</div>